<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Menu</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/list">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a
						class="nav-link" href="/form">Save Client</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Category </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Android</a> <a
								class="dropdown-item" href="#">Web</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Free</a>
						</div></li>
					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Working on something new</a></li>
				</ul>

				<ul class="navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						class="btn btn-outline-primary" th:href="@{/login}">Sign In</a></li>

					<li sec:authorize="isAuthenticated()" class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<span sec:authentication="name"></span>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<form th:action="@{/logout}" method="post">
								<button class="dropdown-item"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit">Sign out</button>
							</form>
						</div>
					</li>

				</ul>

				<!-- <form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>  -->
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success!=null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error!=null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning!=null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info!=null}" th:text="${info}"></div>
	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
		<hr />
		<img alt="Spring Logo" th:src="@{/images/spring-logo.png}" />

		<p sec:authorize="isAuthenticated()">
			User logged: <span sec:authentication="name"></span> | Roles: <span
				sec:authentication="principal.authorities"></span>
		<p>
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring
				Boot</a> and <a href="http://www.thymeleaf.org"></a>.
		</p>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
			integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>