<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">Access denied!</div>
			<div class="card-body">
				<h5 class="card-title">Sorry, <span th:text="${#httpServletRequest.remoteUser}"></span>. You're not allowed here</h5>
				<a th:href="@{/list}" class="btn btn-outline-light">Go home</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>